i\:hlight-js {
	line-height: 1em;
	font-family: 'Lucida Console', monospace;
	white-space: pre;
}

i\:hlight-js-remark {
	color: #bbb;
}

i\:hlight-js-string {
	color: #393;
}

i\:hlight-js-keyword {
	color: #339;
	font-weight: bold;
}
